footer {
    display: flex;
    justify-content: space-between;
    padding: 3% 10%;
    width: 80%;
    background-color: #1d1d1d;
    margin-top: 2%;
}

footer > article > h2 {
    color: #2272FF;
}

footer > article > p {
    color: #ffffff;
    margin: 6px 0;
}

footer > article > a {
    color: #ffffff;
    text-decoration: none;
}

footer > article > nav {
    width: 100%;
}

footer > article > nav > a {
    display: block;
    margin: 6px 0;
    width: fit-content;
}

footer > article > div {
    display: flex;
    justify-content: space-evenly;
}

footer > article > div > a {
    width: fit-content;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

footer > article > div > #instagram:hover {
    color: #E1306C;
}

footer > article > div > #x:hover {
    color: #e5e5e5;
}

footer > article > div #tiktok:hover {
    color: #00f2ea;
}

footer > article > a:hover {
    text-decoration: underline;
}