@media (max-width: 1000px) {
    #index > .hero-section {
        flex-direction: column;
    }

    #index > .hero-section > img {
        display: none;
    }

    #index > section > div {
        flex-direction: column;
        align-items: center;
    }

    #index > section > div > article {
        width: 80%;
        padding-bottom: 3%;
        margin: 5% 0;
    }

    #index > .hero-section > article > h2, #index > section > h2 {
        font-size: 70px;
    }

    #index > section > div > article > img {
        height: 150%;
    }

    #contacto {
        flex-direction: column;
    }

    #contacto > section {
        width: 100%;
    }

    #contacto > section > h2 {
        margin-bottom: 0;
    }

    #contacto > section:first-child {
        margin-top: 10%;
    }

    #contacto iframe {
        width: 500px;
        height: 500px;
    }

    #contacto > section:last-child {
        margin-bottom: 15%;
    }

    #contenedor {
        flex-direction: column;
    }
}