body {
    margin: 0;
}

/*******************************************************************
**************************** INDEX.HTML ****************************
*******************************************************************/
/*Sección 1*/
#index > .hero-section {
    display: flex;
    margin: 2% 7%;
    padding: 5% 0;
    border-bottom: 1px solid rgba(29,29,29,.1);
    text-align: justify;

}

#index > .hero-section > article {
    width: 75%;
    margin-right: 10%;
}

#index > .hero-section > article > h2, #index > section > h2 {
    color: #2272FF;
    font-size: 30px;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#index > section > article > p {
    margin: 2% 0 5%;
    font-family: Helvetica, sans-serif;
}

#index > section > article > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #2272FF;
    padding: 1.5% 2%;
    font-family: Helvetica, sans-serif;
    border-radius: 3px;
    transition: .3s;
}

#index > section > img {
    height: 300px;
}

/*Sección 2*/
#index > section {
    text-align: center;
}

#index > section > h2 {
    margin-bottom: 2%;
}

#index > section > div {
    display: flex;
    justify-content: space-around;
}

#index > section > div > article {
    width: 27%;
    padding: 1%;
    transition: .5s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

#index > section > div > article > img {
    height: 300px;
}

#index > section > div > article > h3 {
    color: #2272FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#index > section > div > article > p {
    font-family: Helvetica, sans-serif;
}

#index > section > div > article > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #2272FF;
    padding: 1.5% 2%;
    font-family: Helvetica, sans-serif;
    border-radius: 3px;
    transition: .3s;
}

/*Animaciones*/
#index > section > article > a:hover, #index > section > div > article > a:hover {
    letter-spacing: .5px;
    color: #2272FF;
    background-color: transparent;
    border: 1px solid #2272FF;
    font-size: 16px;
    font-weight: bold;
}

#index > section > div > article:hover {
    transform: scale(1.05);
}

/*******************************************************************
*************************** CONTACTO.HTML **************************
*******************************************************************/
#contacto {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#contacto > section {
    width: 40%;
    margin: 3% 0;
}

#contacto > section > h2 {
    color: #2272FF;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Seccion 1*/
#contacto > section > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameInput, #emailInput, #messageTextarea {
    border: 1px solid rgba(29,29,29,.4);
    padding: 12px 2px;
    text-align: center;
    margin-bottom: 3px;
    font-size: 15px;
    border-radius: 3px;
    width: 90%;
    font-family: Helvetica, sans-serif;
}

#nameInput::placeholder, #emailInput::placeholder, #messageTextarea::placeholder {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#nameLabel, #emailLabel, #messageLabel {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: #2272FF;
    margin-bottom: 20px;
    visibility: hidden;
}

#send {
    width: fit-content;
    color: #ffffff;
    text-decoration: none;
    background-color: #2272FF;
    padding: 1.5% 2%;
    font-family: Helvetica, sans-serif;
    border-radius: 3px;
    transition: .3s;
    border: none;
    font-size: 15px;
}

/*Seccion 2*/
#contacto > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#contacto > section > div > i {
    color: #2272FF;
    font-size: 30px;
    margin-right: 5px;
}

#contacto > section > div > a {
    margin-left: 5px;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

iframe {
    border-radius: 3px;
}

/*Animaciones*/
#nameInput:focus ~ #nameLabel {
    visibility: visible;
}

#nameInput:focus::placeholder {
    color: transparent;
}

#nameInput:focus ~ #nameLabel {
    visibility: visible;
}

#emailInput:focus ~ #emailLabel {
    visibility: visible;
}

#emailInput:focus::placeholder {
    color: transparent;
}

#messageTextarea:focus ~ #messageLabel {
    visibility: visible;
}

#messageTextarea:focus::placeholder {
    color: transparent;
}

#send:hover {
    letter-spacing: .5px;
    color: #2272FF;
    background-color: transparent;
    border: 1px solid #2272FF;
    font-size: 16px;
    font-weight: bold;
}

#contacto > section > div > a:hover {
    color: #2272FF;
    border-bottom: 1px solid rgba(34, 114, 255, .2);
}

/*******************************************************************
************************** COLECCIÓN.HTML **************************
*******************************************************************/
#contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 3% 0;
}

#contenedor article {
    flex: 0 1 35%;
    text-align: center;
    margin: 2% 0;
    padding: 2% 0;
    transition: .5s;
}

#contenedor img {
    width: 60%;
}

#contenedor h2 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2272FF;
}

#contenedor p {
    margin: 0;   
    font-family: Helvetica, sans-serif;
}

/* Animaciones */
#contenedor article:hover {
    transform: scale(105%);
    box-shadow: 0 0 5px 0 rgba(29,29,29,.1);
}